rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function owner() { return request.auth != null; }
    match /menu/{item} {
      allow read: if true;
      allow write: if owner();
    }
    match /orders/{order} {
      allow create: if request.resource.data.table is int
                    && request.resource.data.table >= 1
                    && request.resource.data.table <= 25
                    && request.resource.data.status == 'New'
                    && request.resource.data.items is list
                    && request.resource.data.items.size() > 0;
      allow read, update: if owner();
      allow delete: if owner();
    }
  }
}
